<ul class="nav-list">
  <li class="nav-item {% if page.url == '/' %}active{% endif %}">
    <a href="/">Home</a>
  </li>
  <li class="nav-item has-children">
    <a href="/an-homage-to-no-reason/">About</a>
    <ul class="sub-nav">
      <li><a href="/an-homage-to-no-reason/">About</a></li>
      <li><a href="/an-homage-to-no-reason/duty-as-demanded-by-thelema/">Duty to Thelema</a></li>
      <li><a href="/thelemic-calendar/">Thelemic Calendar</a></li>
      <li><a href="/an-homage-to-no-reason/privacy-policy/">Privacy Policy</a></li>
    </ul>
  </li>
  <li class="nav-item has-children">
    <a href="/on-technoshamanism-and-magick/">Blog</a>
    <ul class="sub-nav">
      <li><a href="/category/zen-technoshamanism/">Technoshamanism</a></li>
      <li><a href="/category/society/">Society</a></li>
      <li><a href="/category/fifth-generation-warfare/">5GW</a></li>
      <li><a href="/on-technoshamanism-and-magick/fiction/">Fiction</a></li>
    </ul>
  </li>
  <li class="nav-item has-children">
    <a href="/music-video/">Music Video</a>
    <ul class="sub-nav">
      <li><a href="/music-video/current93/">Current 93</a></li>
      <li><a href="/music-video/coil-the-band/">Coil</a></li>
      <li><a href="/music-video/christian-death/">Christian Death</a></li>
      <li><a href="/music-video/ghost-the-band/">Ghost</a></li>
      <li><a href="/music-video/bad-religion/">Bad Religion</a></li>
      <li><a href="/music-video/copernicus/">Copernicus</a></li>
    </ul>
  </li>
  <li class="nav-item"><a href="/gallery/">Gallery</a></li>
  <li class="nav-item"><a href="/magick/">Magick</a></li>
</ul>
